#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: skyblue;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

header {
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
}

main {
  margin-top: 10px;
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
  max-height: fit-content;
}

footer {
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: auto;
}
h2 {
  font-size: 3.2em;
  margin: 5px;
}
h3 {
  font-size: 1.8em;
  margin: 8px;
}
h4 {
  font-size: 1.8em;
  margin: 5px;
}

img {
  min-height: 225px;
}

.weather-data {
  display: inline-flex;
  place-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.data {
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
  height: 145px;
  width: 225px;
  margin: 10px;
}

.title {
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
  margin-bottom: 10px;
  font-style: italic;
}
.title h1 {
  margin-top: 10px;
}

.signature {
  border: solid;
  border-radius: 8px;
  border-color: blueviolet;
  padding: 10px;
}

.temp {
  font-size: 60px;
}
.weather {
  font-size: 50px;
}

#canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}

#date {
  margin: 10px;
}
