#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header {
  border: solid;
  border-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100px;
}

.Footer {
  border: solid;
  border-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
